<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="off" internalLogFile="c:\temp\nlog-internal_AdminApiMicroservice_${shortdate}.log">

    <targets>
      <target name="Logfile" xsi:type="File"
              layout="${longdate}|${event-properties:item=EventId}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring:maxInnerExceptionLevel=10}"
              fileName="C:\logs\Review\ReviewApiMicroservice\app\logs\ReviewApiMicroservice_${shortdate}.log"
              archiveFileName="C:\logs\Review\ReviewApiMicroservice\app\logs\archives\ReviewApiMicroservice_{#}.log"
              archiveAboveSize="1048576000"
              archiveNumbering="DateAndSequence"
              archiveDateFormat="yyyyMMdd-HHmm"
              maxArchiveFiles="10"
              enableArchiveFileCompression="true"
              />
        <target xsi:type="Null" name="BlackHole" />
    </targets>

    <rules>
        <logger name="Microsoft.*" minlevel="Trace" writeTo="BlackHole" final="true" />
        <logger name="*" minlevel="Trace" writeTo="Logfile" />
    </rules>
</nlog>